.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  font-size: 30px;
}

details {
  border: 1px solid slateblue;
  border-radius: 8px;
}

details[open] summary {
  border-bottom: 1px solid slateblue;
}

summary {
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

details ul li {
  cursor: pointer;
  user-select: none;
}
